[Unit]
Description=Debian Auto-Updating Service
After=network.target

[Service]
Type=simple
ExecStart=/autoupd/autoupd.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
